<section class="global-section">
  <h1>Meus dados</h1>
  <section class="data-section">
    <div class="databasic-container">
      <div class="databasic-title">
        <h3>Dados básicos:</h3>
        <button class="btn-outlined alter-password">Alterar Senha</button>
      </div>
      <form action="/dados" method="POST">
        <label for="name">Nome*</label>
        <input type="text" name="name" id="name" value="<%- userData.name %>" />
        <div class="input-locked">
          <label for="email">Email*</label>
          <input
            type="email"
            disabled
            name="email"
            id="email"
            value="<%- userData.email%>"
          />
          <span class="material-symbols-outlined dark-gray"> lock </span>
        </div>

        <div class="input-locked">
          <label for="cpf">CPF*</label>
          <input
            type="text"
            name="cpf"
            id="cpf"
            disabled
            placeholder="398.880.000-00"
            value="<%- `${userData.cpf.slice(0,3)}.${userData.cpf.slice(3,6)}.${userData.cpf.slice(6,9)}-${userData.cpf.slice(9,11)}` %>"
          />
          <span class="material-symbols-outlined dark-gray"> lock </span>
        </div>

        <p>Sexo*</p>
        <div class="divsexo">
          <label class="input_block" for="sex_mas">
            <input type="radio" <% if(userData.sexo == 'masculino') { %>  <%- "checked" %>  <% }%> name="sexo" id="sex_mas" value="masculino" />
            Masculino
          </label>

          <label class="input_block" for="sex_fem">
            <input type="radio" <% if(userData.sexo == 'feminino') { %>  <%- "checked" %>  <% }%> name="sexo" id="sex_fem" value="feminino" />
            Feminino
          </label>

          <label class="input_block" for="sex_nao_inf">
            <input
              type="radio"
              name="sexo"
              id="sex_nao_inf"
              value="nao-informar"
              <% if(userData.sexo == 'nao-informar') { %>  <%- "checked" %>  <% }%>
            />
            Prefiro não informar
          </label>
        </div>

        <label for="phone">Telefone</label>
        <input type="text" name="phone" id="phone" placeholder="(11) 99999-9999" value="<%-`(${userData.tel.split('-')[0]}) ${userData.tel.split('-')[1]}-${userData.tel.split('-')[2]}` %>"/>
        <div class="save-button">
          <button class="btn">Salvar</button>
        </div>
      </form>
    </div>

    <div class="address-container">
      <h2>Endereço</h2>
      <% userData.address.forEach(el => { %>

        <div class="address-box active">
          <h3><%- el.idenEndereco %></h3>
          <p><%- el.rua %></p>
          <p>Numero: <%- el.identificacao %></p>
          <p>CEP <%- el.cep %>, <%- el.bairro %> - <%- el.cidade %>,<%- el.estado%></p>
        </div>
      <% }) %>
      <div class="address-btn">
        <button class="btn">
          <span class="material-symbols-outlined"> add_circle </span>
          Novo Endereço
        </button>
      </div>
    </div>
  </section>
</section>
