<div class="finalize-order">
  <section class="finalizing-order">
    <div class="request-number">
      <p>Número de pedido</p>
      <div>VENUS-<%- orderData.orderId.toUpperCase() %></div>
    </div>
    <div class="finalize">
      <span class="material-symbols-outlined done"> done </span>
      <div>
        <h3>Obrigado por comprar em nossa loja!</h3>
        <p>
          Falta pouco para receber o seu pedido, estamos aguardando a aprovação
          da sua operadora de cartão!
        </p>
      </div>
    </div>
  </section>
  <div class="information-boxes">
    <section class="payment-information">
      <h2 class="description-box">Informações de pagamento</h2>
      <div>
       <% if(orderData.paymentDetails.methodPayment == 'pix') {%>
        <h3>Pix</h3>
        <% } else if(orderData.paymentDetails.methodPayment == 'bolbradesco') {%>
          <h3>Boleto</h3>
        <% } else {%>
          <h3>Cartão de Credito <%- orderData.paymentDetails.methodPayment.charAt(0).toUpperCase() + orderData.paymentDetails.methodPayment.toLowerCase().slice(1)%></h3>

          <% } %>
        <div>
          <div class="paymentValue">
            <span class="material-symbols-outlined">
              paid
              </span>
          <p>Total <span class="bold">R$ <%-String(orderData.valorTotal.toFixed(2)).replace('.', ',') %></span></p>
        </div>
          <% if(orderData.paymentDetails.installments && orderData.paymentDetails.installments != 1) { %>
            <p class="installments">em <%- orderData.paymentDetails.installments%>x de R$ <%- String(orderData.paymentDetails.installment_amount.toFixed(2)).replace('.',',') %></p>
          <% } %>
        </div>
        <div>
          <p><b>Fique Atento!</b></p>
          <p>Você receberá um e-mail informando se o seu pedido foi aprovado.</p>
        </div>
       
      </div>
    </section>
    <section>
      <h2 class="description-box">Endereço de entrega</h2>
      <div class="delivery-address">
        <h3><%- orderData.User.name %></h3>
        <p><%- `${orderData.User.address[0].rua}, ${orderData.User.address[0].identificacao}, CEP ${orderData.User.address[0].cep}, ` %>
           <% if(orderData.User.address[0].complemento) {%>
         <%- orderData.User.address[0].complemento %>,
       <% } %>
       <%- `${orderData.User.address[0].bairro}, ${orderData.User.address[0].cidade}-${orderData.User.address[0].estado}` %></p>
        <div>
          <h3>Entrega</h3>
          <p><b>Sedex - R$ <%- String(orderData.valorFrete.toFixed(2)).replace(".", ",") %></b></p>
          <p>
            O prazo de entrega é de 8 dias úteis após postagem da encomenda
          </p>
        </div>
      </div>
    </section>
    <section class="order-summary">
      <h2 class="description-box">Resumo do pedido</h2>
      <div class="orderSummary-box">
          <% orderData.products.forEach((element) => { %>
            <div class="box-order">
              <div class="header-boxOrder">
                <img src="/assets/images/products/<%= element.Products.images[0]%>.png" alt="<%- element.Products.name %>" />
                <div>
                  <span class="bold"><%= element.Products.name %></span>
                  <div class="order-info">
                    <div><p>
                      Cor:
                      <span class="productColor"><%= element.Colors.color.charAt(0) + element.Colors.color.toLowerCase().slice(1)%></span>
                    </p>
                      <p>Tamanho: 
                        <% if(element.Sizes.size.length > 2) { %>
                          <span class="productSize"><%= element.Sizes.size.charAt(0) + element.Sizes.size.toLowerCase().slice(1) %></span>
                       <% } else {%>
                          <span class="productSize"><%= element.Sizes.size %></span>
                        <% } %>
                      </p></div>
                      <p>R$ <span ><%= String(element.Products.value.toFixed(2)).replace('.', ',') %></span></p>
                  </div>

                    </div>
              </div>  
              <div class="main-boxOrder">            
                <p>Quantidade: <span class="bold"><%= element.quantity %></span></p>
                <p>R$ <span class="productTotalValue bold"><%= String((element.Products.value * element.quantity).toFixed(2)).replace('.', ',')  %></span></p>
              </div>
            </div>
            <% }) %>
          </div>
            <div class="total-order">
              <p class="totalLine">subtotal <span>R$ <span class="subTotal bold">0,00</span></span></p>
              <p class="totalLine">Frete <span>R$ <span class="freteDisplayed bold"><%- String(orderData.valorFrete.toFixed(2)).replace('.', ',')%></span></span></p>
              <p class="totalLine">Total <span>R$ <span class="totalDisplayed bold">0,00</span></span></p>
            </div>
    </section>
  </div>
</div>
