<div class="identification-payment-orderSummary">
  <section class="identification-client">
      <h2 class="">1 - Identificação</h2>
      <div class="client-data">
        <h3>Dados Pessoais</h3>
        <div>Nome Completo</div>
        <p>Renan gameplays</p>
        <div>E-mail</div>
        <p>renantutu@gmail.com</p>
        <div><span>CPF</span></div>
        <p class="client-cpf">870.673.870-27</p>
      </div>
      <div class="line"></div>
      <a href="#"><p>Cadastrar um novo endereço de entrega</p> </a>
      <% if(!activeAddress) { %>
      <div class="identification-data">
        <div class="searchCepBox">
          <div class="input-CEP">
            <input class="input-address form-control" id="cepUser" type="text" placeholder="CEP" maxlength="8" />
            <button button class="search-cep">OK</button>
          </div>
          <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">Não sei meu CEP</a>
        </div>
        <form>
        <div class="address-form">
          <div class="box-address">
            <p>
              <span class="material-symbols-outlined icon">
                location_on
                </span>
              <span class="address-location"></span>
            </p>
            <a href="">Nao e meu endereço</a>
          </div>
          <div class="input-complement">
            <input type="number" name="" id="numeroAddress" placeholder="Numero *" required/>
            <input type="text" id="complementoAddress" placeholder="Complemento"/>
          </div>
          <input
            class="input-address inputs-identification"
            type="text"
            id="identificationAddress"
            placeholder="Identificaçao do Endereço *(ex: casa, trabalho)"
            required
          />
          <input
            class="input-address inputs-identification"
            type="text"
            id="destinatarioAddress"
            placeholder="Desinatário *"
            required
          />
          <div class="register-address"><button class="register-new-address">Cadastrar Endereço</button></div>
        </div>
      </form>
      </div>
      <% } else {%>
        <div class="address-box">
          <div class="registred-address">
            <h3>Endereço de Entrega</h3>
            <div class="box-address">
              <span class="material-symbols-outlined icon">
                location_on
                </span>
              <span class="address-location">
                <%- activeAddress.rua %>, 
                <%- activeAddress.identificacao %>, 
                CEP <%- activeAddress.cep%>,
                <% if(activeAddress.complemento) { %>
                  <%- activeAddress.complemento %>,
               <% } %>
               <%- activeAddress.bairro %> 
               <%- activeAddress.cidade %>-<%- activeAddress.estado %>
              </span>
            </div>
            <p>Escolha a melhor opção para a sua entrega</p>
            <div class="box-address">
              <div class=""><h4>EXPRESSO</h4> | <span>R$ 79,99</span> </div>
              <div class="prazo-maximo">Até 4 dia/s</div>
            </div>
          </div>
        </div>
      <% } %>
  </section>
  <section class="payment">
    <h2>2 - Pagamento</h2>
    <div id="paymentBrick_container"></div>
  </section>

  <section class="order-summary">
    <h2>Resumo do Pedido</h2>
    <div class="box-order-summary">
      <p>
        <img src="/assets/images/products/product-moleton.png" alt="" />Lorem
        ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <p>Sabor</p>
      <div>R$</div>
      <div>Quantidade:</div>
      <div>R$</div>
    </div>
    <div class="subtotal-order">
      <div>subtotal <span>R$ </span></div>
      <div>Frete <span>R$ </span></div>
      <div>Total <span>R$ </span></div>
    </div>
    <%- err %>
    <p>Ganhe <a href="">110.000 pontos</a> nesta compra</p>
    <div class="back-cart">
      <a href="/carrinho"> <button>Voltar ao carrinho</button> </a>
    </div>
  </section>
</div>
<div class="modalPagamento-overlay">
  <div id="statusScreenBrick_container">
    <button class="closeModalPagamento">
      <span class="material-symbols-outlined">
      close
      </span></button>
  </div>
</div>

<div class="loading">
  <div class="spin"></div>
</div>