<div class="identification-payment-orderSummary">
  <section class="identification-client">
      <h2 class="header-h2">1 - Identificação</h2>
      <div class="client-data">
        <h3>Dados Pessoais</h3>
        <div>Nome Completo</div>
        <p>Renan gameplays</p>
        <div>E-mail</div>
        <p>renantutu@gmail.com</p>
        <div><span>CPF</span></div>
        <p class="client-cpf">870.673.870-27</p>
      </div>
      <div class="line"></div>
      <% if(!activeAddress) { %>
        <div class="identification-data">
          <div class="searchCepBox">
            <div class="input-CEP">
              <input class="input-address form-control" id="cepUser" type="text" placeholder="CEP" maxlength="8" />
              <button button class="search-cep">OK</button>
            </div>
            <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">Não sei meu CEP</a>
          </div>
          <form>
          <div class="address-form">
            <div class="box-address">
              <p>
                <span class="material-symbols-outlined icon">
                  location_on
                  </span>
                <span class="address-location"></span>
              </p>
              <a href="">Nao e meu endereço</a>
            </div>
            <div class="input-complement">
              <input type="number" name="" id="numeroAddress" placeholder="Numero *" required/>
              <input type="text" id="complementoAddress" placeholder="Complemento"/>
            </div>
            <input
              class="input-address inputs-identification"
              type="text"
              id="identificationAddress"
              placeholder="Identificaçao do Endereço *(ex: casa, trabalho)"
              required
            />
            <input
              class="input-address inputs-identification"
              type="text"
              id="destinatarioAddress"
              placeholder="Desinatário *"
              required
            />
            <div class="register-address"><button class="register-new-address">Cadastrar Endereço</button></div>
          </div>
        </form>
        </div>
        <% } %>
      <% if(typeof activeAddress !== 'undefined'){ %>
      <a href="#"><p>Cadastrar um novo endereço de entrega</p> </a>
        <div class="address-box">
          <div class="registred-address">
            <h3>Endereço de Entrega</h3>
            <div class="box-address">
              <span class="material-symbols-outlined icon">
                location_on
                </span>
              <span class="address-location">
                <%- activeAddress.rua %>, 
                <%- activeAddress.identificacao %>, 
                CEP <%- activeAddress.cep%>,
                <% if(activeAddress.complemento) { %>
                  <%- activeAddress.complemento %>,
               <% } %>
               <%- activeAddress.bairro %> 
               <%- activeAddress.cidade %>-<%- activeAddress.estado %>
              </span>
            </div>
            <p>Escolha a melhor opção para a sua entrega</p>
            <div class="box-address">
              <div class="freteInput"><h4>EXPRESSO</h4> | <span>R$ <span class="freteValue"><%- freteData.valor %></span></span> </div>
              <div class="prazo-maximo">Até <%- freteData.prazo%> dia/s</div>
            </div>
          </div>
        </div>
      <% } %>
  </section>
  <section class="payment">
    <h2 class="header-h2">2 - Pagamento</h2>
    <div id="paymentBrick_container"></div>
  </section>

  <section class="order-summary">
    <h2>Resumo do Pedido</h2>
    <div class="box-order-summary">
      <% products.forEach((element) => { %>
      <div class="box-order">
        <div class="header-boxOrder">
          <img src="/assets/images/products/<%= element.images[0]%>.png" alt="<%- element.name %>" />
          <div>
            <span><%= element.name %></span>
            <input type="hidden" class="productId" value="<%- element.id %>">
            <div class="order-info">
              <%if(element.color.length > 0){%>
                <p>
                  Cor: <% element.color.forEach((element) => { %>
                  <span class="productColor"><%= element.color.charAt(0) + element.color.toLowerCase().slice(1)%></span>
                  <%}) %>
                </p>
                <% } %>
                <% if(element.size.length > 0){%>
                  <p>Tamanho: <% element.size.forEach((element) => { %>
                    <% if(element.size.length > 2) { %>
                      <span class="productSize"><%= element.size.charAt(0) + element.size.toLowerCase().slice(1) %></span>
                   <% } else {%>
                      <span class="productSize"><%= element.size %></span>
                    <% } %>
                  <%}) %>
                  </p>
                <% } %>
              </div>
              <p>R$ <span><%= String(Number(element.value).toFixed(2)).replace('.', ',') %></span></p>
        </div>  
      </div>
      <div class="main-boxOrder">
        <p>Quantidade: <span><%- element.quantity %></span></p>
        <p>R$ <span class="productTotalValue"><%= String((Number(element.value) * Number(element.quantity)).toFixed(2)).replace('.',',') %></span></p>
      </div>
      </div>
      <% }) %>
    </div>
    <div class="subtotal-order">
      <p>subtotal <span>R$ <span class="subTotal">0,00</span></span></p>
      <p>Frete <span>R$ <span class="freteDisplayed">0,00</span></span></p>
      <p>Total <span>R$ <span class="totalDisplayed">0,00</span></span></p>
    </div>
    <div class="back-cart">
      <a href="/carrinho"> <button>Voltar ao carrinho</button> </a>
    </div>
  </section>
</div>
<div class="modalPagamento-overlay">
  <div id="statusScreenBrick_container">
    <button class="closeModalPagamento">
      <span class="material-symbols-outlined">
      close
      </span></button>
  </div>
</div>

<div class="loading">
  <div class="spin"></div>
</div>