    <head>
    <!-- CSS  -->
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
        <main>
        <h1 class="page-title"> Resultados da pesquisa </h1>
     
        <div class="search-box">
        <div class="filters">

        <span>Filtrar:</span>
        <select class="button-filters">
            <option class="button-filters">Disponibilidades</option>
            <option></option>
       </select>
        <select class="button-filters">
            <option>Tamanho</option>
            <option></option>
        </select>
        <select class="button-filters">
            <option >Cor</option>
            <option></option>
        </select>
       <select class="button-filters">
            <option >Preço</option>
            <option></option>
        </select>
        <select class="button-filters">
            <option>Tipo de produto</option>
            <option></option>
        </select>
    </div>
       <div class="orderby">
        <span>Organizar por:</span>
            <select class="button-filters">
                <option>Relevância</option>
                <option>Relevância</option>
                <option>Relevância</option>
            </select>
        <span id="result-search">35 Resultados</span>
        </div>
    </div>
    <% if(products.length > 1){%>
    <section class="products-container">
            <% products.forEach(el => { %>

                <div class="product-box">
                    <div class="imgBx">
                        <img src="/assets/images/products/<%- el.images[0] %>.png" alt="">
                    </div>
                    <h3><%- el.name %></h3>
                    <p>R$ <%- String(el.value.toFixed(2)).replace('.', ',') %></p>
                    <button class="buy"><a class="a-white" href="/product/<%- el.id %>">Compre</a></button>
                </div>
            <% }) %>

            
        </section> 
        <div class="switch-page">
            <div>
                <a class="switch-link" href="/pesquisa/?search=<%- searchParam %>&page=1">1</a>
                <a class="switch-link"href="/pesquisa/?search=<%- searchParam %>&page=2">2</a>
                <a class="switch-link"href="/pesquisa/?search=<%- searchParam %>&page=3"%>>3</a>
                <a class="switch-link"href="/pesquisa/?search=<%- searchParam %>&page=4">4</a>
                <span>...</span>
                <a class="switch-link"href="/pesquisa/?search=<%- searchParam %>&page=8">8</a>
                <a href="#" class='arrow nextPage'>Próxima
                <img src="/assets/images/arrow.svg" alt="Seta">
                </a></div>
        </div>
        <% } else { %>

            <div class="not-products">
                <h3>Lamentamos, nenhum produto encontrado com esse critério de pesquisa.</h3>
                <p>Tente novamente com outro termo para busca...</p>
            </div>

        <% } %>
        </div>