<!DOCTYPE html>
<head>
    <title>Venus Store | Moda Otaku Masculina e Feminina</title>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- CSS  -->
    <!-- INCLUDE IN ALL PAGES -->
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/sac.css">

    <!-- INCLUDE IN SPECIFIC PAGES -->
    <% if(typeof styles !== 'undefined'){%>
        <% if(styles.length > 0) {%>
            <% for(style of styles){%>
                <link rel="stylesheet" href="/assets/css/<%= style %>.css">
                <%}%>
            <% } %>
        <%} %>
  

       <!-- IMPORTS  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <!-- ICON -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <!-- JAVASCRIPT -->
</head>
</header>
<body>
    <%- include(`./partials/header`)%>
    <main>
        <%- include(`./pages/${page}`)%>
    </main>
    
    <%- include(`./partials/footer`) %>
    <%- include(`./partials/modal`) %>

    <% if(err){%>
        <%- include(`./partials/modalError`)%>
    <% } %>
    
    <!-- INCLUDE IN ALL PAGES -->
    <script src="/scripts/main.js" defer type="module"></script>

    <!-- INCLUDE IN SPECIFIC PAGES -->
    <% if(typeof libs !== 'undefined'){%>
        <% if(libs.length > 0) {%>
            <% for(lib of libs){%>
                <script src="/scripts/<%= lib %>.js"></script>
                <%}%>
            <% } %>
        <%} %>
    
</body>
</html>