<section>
  <div id="cart">
    <h2>Carrinho</h2>
    <% products.forEach((element) => { %>
    <div id="product-cart">
      <div>
        <img
          src="/assets/images/products/<%= element.images[0]%>.png"
          class="product-image"
          alt="<%- element.name %>"
        />
      </div>
      <div id="description">
        <p><%= element.name %></p>
        <br />
        <%if(element.color.length > 0){%>
        <p>
          Cor: <% element.color.forEach((element) => { %>
          <span
            ><%= element.color.charAt(0) + element.color.toLowerCase().slice(1)
            %></span
          >
          <%}) %>
        </p>
        <% } %> 
        <% if(element.size.length > 0){%>
                <p>Tamanho: <% element.size.forEach((element) => { %>
                  <% if(element.size.length > 2) { %>
                    <span><%= element.size.charAt(0) + element.size.toLowerCase().slice(1) %></span>
                 <% } else {%>
                    <span><%= element.size %></span>
                  <% } %>
                <%}) %>
                </p>
              <% } %>
              </div>
              <div id="qtd">
                <p class="about">Quantidade</p>
                <div class="qtdButton">
                  <button class="button-sum amountSubtraction">-</button>
                  <input type="number" id="input-sum" class="inputAmount" placeholder="" value="<%-element.quantity%>" />
                  <button class="button-sum amountAddition">+</button>
                </div>
              </div>
              <div>
                <p class="about">Valor</p>
                <div>
                  R$
                  <span name="Valor" class="inputValue"><%= Number(element.value).toFixed(2) %></span>
                </div>
              </div>
              <div>
                <button class="removeItem">
                  <span class="material-symbols-outlined trash">
                    remove
                    </span></button>
              </div>
            </div>
            <% }) %>
  </div>
  
  <div class="box-spg-req">
    <div class="boxes box-shipping" id="">
      <div class="box-shipping-title">
        <img src="/assets/images/truck.svg" alt="caminhão" />
        <h3>Envio:</h3>
      </div>
        <div id="shipping">
          <div class="shipping-title">
            <img src="/assets/images/map.svg" alt="" />
            <p>Calcular o frete: </p>
          </div>
          <div class="shipping-search">
            <input type="text" id="cepUser" class="input-search" maxlength="9"/>
            <button class="button-search">OK</button>
          </div>
        </div>

        <div class="line"></div>

        <div class="freteBox">
          <div class="frete-item">
            
          </div>
          <div class="loading">
            <div class="spin"></div>
          </div>
        </div>
    </div>
    <div class="boxes" id="box-request">
      <form action="/pagamento" method="get">
        <h3>Resumo do Pedido</h3>
        <p>Subtotal</p>
        <span
          ><input
            name="subtotal"
            type="number"
            class="input-request"
            hidden
            disabled
          />R$ <span class="request-values" id="sub">0.00</span></span
        >
        <br />
        <div class="line"></div>
        <p>Frete</p>
        <span>
          R$
          <span class="request-values" id="freight">0,00</span>
        </span>

        <br />
        <div class="line"></div>
        <p>Total</p>
        <span>
          R$
          <span class="totalValue request-values"> 0.00</span>
        </span>
        <br />
        <div class="button-links button-payment">
          <button type="submit">Ir para o pagamento</button>
        </div>
      </form>
      <div>
        <div class="button-links">
          <br />
          <a href="/home"><button>Voltar para loja</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
